#!/bin/sh

{% macro endpoints() -%}
{% for host in groups[etcd_peers_group] -%}
   {% if loop.last -%}
{{ etcd_peer_url_scheme }}://{{ hostvars[host]['ansible_' + etcd_peer_interface]['ipv4']['address'] }}:{{ etcd_client_port }}
   {%- else -%}
{{ etcd_peer_url_scheme }}://{{ hostvars[host]['ansible_' + etcd_peer_interface]['ipv4']['address'] }}:{{ etcd_client_port }},
   {%- endif -%}
{% endfor -%}
{% endmacro -%}

export ETCDCTL_ENDPOINT={{ endpoints() }}


